.App {
  text-align: center;
  background-color: #282c34;
  font-family: sans-serif, Geneva, Arial, Helvetica ;
  min-height: calc(100vh - 80px);
  padding-bottom: 90px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-outer {
  border: 1px outset #282c3450;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header-container {
  width: 50%;
  height: 100px;
}

.App-header-text {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  font-size:50px;
  height: 76px;
  margin: 12px auto;
  position: relative;
}


App-header-img {
  padding-left: 10px;
  padding-right: 10px;
  margin: 12px auto;
}

.App-menu {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-menu-text {
   width: 20%;
   padding-left: 10px;
   padding-right: 10px;
   font-size:30px;
   height: 53px;
   margin: auto;
 }

.App-header-text:hover {
  background-color: #280c30;
}

.App-header-menu:hover {
  background-color: #280c30;
}

.App-header-text text {
  background: linear-gradient(45deg, #0D61BC 20% , #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-menu-text text {
  background: linear-gradient(45deg, #0D61BC 20% , #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Cards-Container {
  width: 75%;
  position: relative;
  left:12.5%;
}

.Card {
  border-bottom: 1px outset #282c3450;
  border-top: 1px outset #282c3450;
  border-left: 2px outset #282c3450;
  border-right: 2px outset #282c3450;
  min-height: 120px;
  text-align: justify;
  text-indent: 20px;
  color: white;
  font-size:20px;
}

.Card-text {
  margin: 0px 20px;
}

.Images-Container {
  width: 50%;
  border: 1px outset #282c3450;
}

.Containers {
  display: flex;
  width: 100%;
  height: auto;
}

.App-link {
  color: #61dafb;
}

.Footer {
  height: 80px;
}

.Carousel {
  position:relative;
  left:25%;
}

